@media only screen and (max-width: 640px) {
  .detail {
    margin: 20px;
  }

  .navbar a {
    margin-right: auto;
    color: #e3a939;
    font-size: 20px;
  }

  .table {
    margin-top: 20px;
  }

  .table td {
    background-color: #a3d3eb;
  }

  .detailPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .detailPhoto:hover {
    width: 65%;
  }

  .title {
    color: #299bd5;
    font-weight: 900;
    margin-right: auto;
  }

  .loading {
    margin: 42%;
  }
}

@media only screen and (min-width: 640px) {
  .cardContainer {
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
  }

  .cardContainer a {
    text-decoration: none;
  }

  .detailCard {
    display: flex;
    justify-content: center;
    border: 1px solid #f1b9c5c2;
    box-shadow: 3px 3px #eb526761;
    border-radius: 8px;
    background-color: #f4dff036;
    margin-top: 8%;
  }

  .songPhoto {
    width: 32%;
    margin: 3%;
    border-radius: 50%;
  }

  .detailsPart {
    display: flex;
    margin: 3%;
    flex-direction: column;
    justify-content: center;
  }

  .detailsPart h5 , h4 {
    color:#ff3c33a3
  }

  #backArrow{
    margin: auto;
    width: 50%;
    font-size: 26px;
  }
}
