@media only screen and (max-width: 640px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .cardContainer a {
    margin: 0 0 9px 27px;
    text-decoration: none;
  }

  .detail {
    margin: 20px;
  }

  .detailPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .detailPhoto:hover {
    width: 65%;
  }

  .title {
    color: #299bd5;
    font-weight: 900;
    margin-right: auto;
  }

  .songPhoto {
    width: 70%;
    border-radius: 50%;
  }

  .detailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    border: 1px solid #f1b9c5c2;
    box-shadow: 3px 3px #eb526761;
    border-radius: 8px;
    background-color: #f4dff036;
    width: 86%;
    margin: auto;
    padding: 12px 0 10px 0;
  }

  .detailsPart h5 {
    font-size: 86%;
  }

  .detailsPart h5,
  h4 {
    color: #ff3c33a3;
  }

  .loading {
    margin: 42%;
  }

  .react-audio-player {
    width: 253px;
  }
}

@media only screen and (min-width: 640px) {
  .cardContainer {
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
  }

  .cardContainer a {
    text-decoration: none;
  }

  .detailCard {
    display: flex;
    justify-content: center;
    border: 1px solid #f1b9c5c2;
    box-shadow: 3px 3px #eb526761;
    border-radius: 8px;
    background-color: #f4dff036;
    margin-top: 8%;
  }

  .songPhoto {
    width: 32%;
    margin: 3%;
    border-radius: 50%;
  }

  .detailsPart {
    display: flex;
    margin: 3%;
    flex-direction: column;
    justify-content: center;
  }

  .detailsPart h5,
  h4 {
    color: #ff3c33a3;
  }

  #backArrow {
    margin: auto;
    width: 50%;
    font-size: 26px;
  }
}
