@media only screen and (max-width: 640px) {
  .navbar i {
    padding: 6px;
    color: #299bd5;
    font-size: 21px;
  }

  .logo {
    height: 46px;
  }

  #logo {
    display: flex;
  }

  .title {
    color: #299bd5;
    font-weight: 900;
    margin-right: auto;
  }

  .wrapper {
    position: relative;
  }

  .wrapper i {
    position: absolute;
  }
}

@media only screen and (min-width: 640px) {
  .logo {
    width: 4%;
  }

  #logo {
    display: flex;
  }

  #social i {
    margin: 0 15px 0 17px;
    color: #329dd7;
    font-size: 23px;
  }

  #social i :hover {
    color: #fcaa09;
  }

  .navbar {
    justify-content: space-around;
  }
}
