@media only screen and (max-width: 640px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .navbar i {
    padding: 6px;
    color: #299bd5;
    font-size: 21px;
  }

  .logo {
    height: 46px;
  }

  #logo {
    display: flex;
  }

  .title {
    color: #d76da4;
    font-weight: 900;
    margin-right: auto;
  }

  .wrapper {
    position: relative;
  }

  .wrapper i {
    position: absolute;
  }

  #social i {
    color: #f55eac;
  }

  #social i :hover {
    color: #b01183;
  }
}

@media only screen and (min-width: 640px) {
  .logo {
    width: 6%;
  }

  #logo {
    display: flex;
    align-items: center;
  }

  .title {
    color: #f674b7;
    text-shadow: 2px 0 2px #835ba8;
    font-size: 38px;
    font-weight: bolder;
  }

  #social i {
    margin: 0 15px 0 17px;
    color: #f55eac;
    font-size: 23px;
  }

  #social i :hover {
    color: #b01183;
  }

  .navbar {
    justify-content: space-around;
  }
}
